In [24]:
import pandas as pd
import numpy as np

In [25]:
path=pd.read_csv("Fortune 500 Companies.csv")

In [26]:
if isinstance(path, pd.DataFrame):
    df = path.copy()
else:
    df = path

In [27]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
rank,13940.0,250.511765,144.368022,1.00,125.000,250.5,375.25,500.0
year,13940.0,2009.537231,8.071421,1996.00,2003.000,2010.0,2017.00,2023.0
market_value_mil,5185.0,47386.331618,124571.510458,5.61,5637.000,15835.0,42699.00,2849538.0
revenue_mil,13940.0,20225.158016,35994.023496,48.29,5806.225,9587.5,19109.00,611289.0
profit_mil,5497.0,2501.271621,5626.509092,-12650.00,390.000,948.0,2319.00,99803.0
asset_mil,5500.0,85838.053158,297497.787033,24.50,7653.750,19067.0,51348.75,4305288.0
employees,4500.0,57366.143556,128182.337320,52.00,11820.750,25332.0,58000.00,2300000.0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13940 entries, 0 to 13939
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     13940 non-null  object
 1   rank                     13940 non-null  int64
 2   year                     13940 non-null  int64
 3   industry                 13940 non-null  object
 4   sector                   4500 non-null   object
 5   headquarters_state       13940 non-null  object
 6   headquarters_city        7495 non-null   object
 7   market_value_mil         5185 non-null   float64
 8   revenue_mil              13940 non-null  float64
 9   profit_mil               5497 non-null   float64
 10  asset_mil                5500 non-null   float64
 11  employees                4500 non-null   float64
 12  founder_is_ceo           4500 non-null   object
 13  female_ceo               4500 non-null   object
 14  newcomer_to_fortune_500  4500 non-null   object
 15  global_500               4000 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 1.7+ MB

In [29]:
print(f"Original Data: {df.shape}")
print(f"Columns: {list(df.columns)}")

Original Data: (13940, 16)
Columns: ['name', 'rank', 'year', 'industry', 'sector', 'headquarters_state', 'headquarters_city', 'market_value_mil', 'revenue_mil', 'profit_mil', 'asset_mil', 'employees', 'founder_is_ceo', 'female_ceo', 'newcomer_to_fortune_500', 'global_500']

In [30]:
missing_data = df.isnull().sum()
missing_percent = (missing_data / len(df)) * 100

missing_df = pd.DataFrame({
    'Missing_Count': missing_data,
    'Missing_Percent': missing_percent
})

In [31]:
missing_df

                         Missing_Count  Missing_Percent
name                                 0         0.000000
rank                                 0         0.000000
year                                 0         0.000000
industry                             0         0.000000
sector                            9440        67.718795
headquarters_state                   0         0.000000
headquarters_city                 6445        46.233859
market_value_mil                  8755        62.804878
revenue_mil                          0         0.000000
profit_mil                        8443        60.566714
asset_mil                         8440        60.545194
employees                         9440        67.718795
founder_is_ceo                    9440        67.718795
female_ceo                        9440        67.718795
newcomer_to_fortune_500           9440        67.718795
global_500                        9940        71.305595

In [32]:
missing_info = missing_df[missing_df['Missing_Count'] > 0].sort_values('Missing_Percent', ascending=False)
print(missing_info)

                         Missing_Count  Missing_Percent
global_500                        9940        71.305595
sector                            9440        67.718795
newcomer_to_fortune_500           9440        67.718795
employees                         9440        67.718795
founder_is_ceo                    9440        67.718795
female_ceo                        9440        67.718795
market_value_mil                  8755        62.804878
profit_mil                        8443        60.566714
asset_mil                         8440        60.545194
headquarters_city                 6445        46.233859

In [33]:
cols_to_drop = []
for col in df.columns:

    null_pct = df[col].isnull().mean()


    if null_pct > 0.95:
        cols_to_drop.append(col)
        print(f"Delete {col} - {null_pct*100:.1f}% empty")


if cols_to_drop:
    df_cleaned = df.drop(columns=cols_to_drop)
    print(f"Deleted {len(cols_to_drop)} columns")
else:

    df_cleaned = df.copy()
    print("No columns deleted")

No columns deleted

In [34]:
numeric_cols_to_convert = ['market_value_mil', 'revenue_mil', 'profit_mil', 'asset_mil', 'employees']

for col in numeric_cols_to_convert:
    if col in df_cleaned.columns:

        df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce')
        print(f"Converted {col} to numeric type")

Converted market_value_mil to numeric type
Converted revenue_mil to numeric type
Converted profit_mil to numeric type
Converted asset_mil to numeric type
Converted employees to numeric type

In [35]:
numeric_cols = df_cleaned.select_dtypes(include=['int64', 'float64']).columns
print(f"\n Numeric Columns Found: {list(numeric_cols)}")

for col in numeric_cols:
    if df_cleaned[col].isnull().any():
        missing_count = df_cleaned[col].isnull().sum()

        median_val = df_cleaned[col].median()

        df_cleaned[col] = df_cleaned[col].fillna(median_val)

        print(f"Filled {col}: {missing_count:,} values with median ({median_val:,.2f})")

 Numeric Columns Found: ['rank', 'year', 'market_value_mil', 'revenue_mil', 'profit_mil', 'asset_mil', 'employees']
Filled market_value_mil: 8,755 values with median (15,835.00)
Filled profit_mil: 8,443 values with median (948.00)
Filled asset_mil: 8,440 values with median (19,067.00)
Filled employees: 9,440 values with median (25,332.00)

In [36]:

print("\n Processing Text Columns:")

text_cols = df_cleaned.select_dtypes(include=['object']).columns
print(f"Text Columns: {list(text_cols)}")

for col in text_cols:
    if df_cleaned[col].isnull().any():
        missing_count = df_cleaned[col].isnull().sum()


        unique_count = df_cleaned[col].nunique()

        if unique_count < 50 and unique_count > 0:
            mode_val = df_cleaned[col].mode()[0] if not df_cleaned[col].mode().empty else 'Not Available'

            df_cleaned[col] = df_cleaned[col].fillna(mode_val)
            print(f"  {col}: {missing_count:,} values → '{mode_val}'")
        else:

            df_cleaned[col] = df_cleaned[col].fillna('Not Available')
            print(f"  {col}: {missing_count:,} values → 'Not Available'")

 Processing Text Columns:
Text Columns: ['name', 'industry', 'sector', 'headquarters_state', 'headquarters_city', 'founder_is_ceo', 'female_ceo', 'newcomer_to_fortune_500', 'global_500']
  sector: 9,440 values → 'Financials'
  headquarters_city: 6,445 values → 'Not Available'
  founder_is_ceo: 9,440 values → 'no'
  female_ceo: 9,440 values → 'no'
  newcomer_to_fortune_500: 9,440 values → 'no'
  global_500: 9,940 values → 'no'

In [37]:
if 'headquarters_city' in df_cleaned.columns:
    print(f"\n Cleaning City Data:")
    unique_cities = df_cleaned['headquarters_city'].unique()[:20]
    print(f"First 20 cities: {unique_cities}")

 Cleaning City Data:
First 20 cities: ['Not Available' 'Bentonville' 'Irving' 'Detroit' 'San Ramon' 'Houston'
 'Fairfield' 'Dearborn' 'New York' 'Charlotte' 'Omaha' 'Palo Alto'
 'Armonk' 'San Antonio' 'Atlanta' 'San Francisco' 'Dublin' 'Minnetonka'
 'Cincinnati' 'Chicago']

In [38]:
initial_rows = len(df_cleaned)
df_cleaned = df_cleaned.drop_duplicates()
final_rows = len(df_cleaned)

if initial_rows != final_rows:
    print(f"\nDeleted {initial_rows - final_rows} duplicate rows")

In [39]:
print("\n" + "="*60)
print("Final Results:")
print("="*60)

print(f" Before cleaning: {df.shape}")
print(f" After cleaning:  {df_cleaned.shape}")

remaining_missing = df_cleaned.isnull().sum().sum()
if remaining_missing == 0:
    print(" No missing data after cleaning!")
else:
    print(f"  Still {remaining_missing} missing values")
    for col in df_cleaned.columns:
        if df_cleaned[col].isnull().any():
            missing = df_cleaned[col].isnull().sum()
            print(f"  - {col}: {missing} missing values")


print("\n" + "="*60)
print("Statistical Information:")
print("="*60)

if 'revenue_mil' in df_cleaned.columns:
    print(f"\n Revenue (million dollars):")
    print(f"  Mean: ${df_cleaned['revenue_mil'].mean():,.0f}")
    print(f"  Median: ${df_cleaned['revenue_mil'].median():,.0f}")
    print(f"  Minimum: ${df_cleaned['revenue_mil'].min():,.0f}")
    print(f"  Maximum: ${df_cleaned['revenue_mil'].max():,.0f}")

if 'profit_mil' in df_cleaned.columns:
    print(f"\n Profit (million dollars):")
    print(f"  Mean: ${df_cleaned['profit_mil'].mean():,.0f}")
    print(f"  Median: ${df_cleaned['profit_mil'].median():,.0f}")

print(f"\n Available years: {sorted(df_cleaned['year'].unique())}")
print(f" Unique companies: {df_cleaned['name'].nunique()}")

if 'industry' in df_cleaned.columns:
    print(f"\n Top 5 industries:")
    print(df_cleaned['industry'].value_counts().head())


try:
    df_cleaned.to_csv('fortune500_cleaned.csv', index=False, encoding='utf-8')
    print(f"\n Saved cleaned data to: fortune500_cleaned.csv")
except Exception as e:

    print(f"\n Error saving: {e}")


print("\n" + "="*60)
print("Sample of cleaned data (10 rows):")
print("="*60)

print(df_cleaned.head(10))

print("\n" + "="*60)
print("General information about cleaned data:")
print("="*60)

print(df_cleaned.info())

============================================================
Final Results:
============================================================
 Before cleaning: (13940, 16)
 After cleaning:  (13940, 16)
 No missing data after cleaning!

============================================================
Statistical Information:
============================================================

 Revenue (million dollars):
  Mean: $20,225
  Median: $9,588
  Minimum: $48
  Maximum: $611,289

 Profit (million dollars):
  Mean: $1,561
  Median: $948

 Available years: [np.int64(1996), np.int64(1997), np.int64(1998), np.int64(1999), np.int64(2000), np.int64(2001), np.int64(2002), np.int64(2003), np.int64(2004), np.int64(2005), np.int64(2006), np.int64(2007), np.int64(2008), np.int64(2009), np.int64(2010), np.int64(2011), np.int64(2012), np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020), np.int64(2021), np.int64(2022), np.int64(2023)]
 Unique companies: 2255

 Top 5 industries:
industry
Utilities: Gas and Electric                 753
Commercial Banks                            590
Insurance: Property and Casualty (Stock)    497
Chemicals                                   420
Motor Vehicles & Parts                      385
Name: count, dtype: int64

 Saved cleaned data to: fortune500_cleaned.csv

============================================================
Sample of cleaned data (10 rows):
============================================================
                                          name  rank  year  \
0                   General Motors Corporation     1  1996
1                           Ford Motor Company     2  1996
2                            Exxon Corporation     3  1996
3                        Wal-Mart Stores, Inc.     4  1996
4                                   AT&T Corp.     5  1996
5  International Business Machines Corporation     6  1996
6                     General Electric Company     7  1996
7                            Mobil Corporation     8  1996
8                         Chrysler Corporation     9  1996
9                      Philip Morris Companies    10  1996

                            industry      sector headquarters_state  \
0             Motor Vehicles & Parts  Financials                 MI
1             Motor Vehicles & Parts  Financials                 MI
2                 Petroleum Refining  Financials                 TX
3              General Merchandisers  Financials                 AR
4                 Telecommunications  Financials                 NY
5        Computers, Office Equipment  Financials                 NY
6  Electronics, Electrical Equipment  Financials                 CT
7                 Petroleum Refining  Financials                 VA
8             Motor Vehicles & Parts  Financials                 MI
9                            Tobacco  Financials                 NY

  headquarters_city  market_value_mil  revenue_mil  profit_mil  asset_mil  \
0     Not Available           15835.0     168828.6       948.0    19067.0
1     Not Available           15835.0     137137.0       948.0    19067.0
2     Not Available           15835.0     110009.0       948.0    19067.0
3     Not Available           15835.0      93627.0       948.0    19067.0
4     Not Available           15835.0      79609.0       948.0    19067.0
5     Not Available           15835.0      71940.0       948.0    19067.0
6     Not Available           15835.0      70028.0       948.0    19067.0
7     Not Available           15835.0      66724.0       948.0    19067.0
8     Not Available           15835.0      53195.0       948.0    19067.0
9     Not Available           15835.0      53139.0       948.0    19067.0

   employees founder_is_ceo female_ceo newcomer_to_fortune_500 global_500
0    25332.0             no         no                      no         no
1    25332.0             no         no                      no         no
2    25332.0             no         no                      no         no
3    25332.0             no         no                      no         no
4    25332.0             no         no                      no         no
5    25332.0             no         no                      no         no
6    25332.0             no         no                      no         no
7    25332.0             no         no                      no         no
8    25332.0             no         no                      no         no
9    25332.0             no         no                      no         no

============================================================
General information about cleaned data:
============================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13940 entries, 0 to 13939
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     13940 non-null  object
 1   rank                     13940 non-null  int64
 2   year                     13940 non-null  int64
 3   industry                 13940 non-null  object
 4   sector                   13940 non-null  object
 5   headquarters_state       13940 non-null  object
 6   headquarters_city        13940 non-null  object
 7   market_value_mil         13940 non-null  float64
 8   revenue_mil              13940 non-null  float64
 9   profit_mil               13940 non-null  float64
 10  asset_mil                13940 non-null  float64
 11  employees                13940 non-null  float64
 12  founder_is_ceo           13940 non-null  object
 13  female_ceo               13940 non-null  object
 14  newcomer_to_fortune_500  13940 non-null  object
 15  global_500               13940 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 1.7+ MB
None